/* HERO */
.hero {
  height:520px;
  width: 100%;
  /* Light transparent overlay (same as design) */
  background-image:url("/assets/images/inductor.png");

 background-size: cover;        /* KEY: makes it fill entire area */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;             /* full screen height */
  display: flex;
  align-items: center;

  padding-left: 80px;
}
.hero-content {
  padding: 5px;
  position: absolute;
  top: 150px;      /* decrease value to move up */
  left: 80px; 
  border-radius: 26px;
  backdrop-filter: blur(3px);
}

/* .hero-content h1 {
  font-size: 50px;
  color: #0c2c56;
} */

.hero-content p {
  font-size: 26px;
  margin: 15px 0;
  color: #0c2c56;
}

.btn-primary {
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  background: #0c2c56;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px; 
  text-decoration: none;
}

.headtext{
  color:#0c2c56
}


.overview-section {
  padding: 40px;
  background: #eef2f7;
}

/* OVERVIEW */
.overview h2 {
  margin-bottom: 10px;
}

.overview p {
  font-size: 14px;
  line-height: 1.7;
  color: #444;
}

/* FEATURES + TABLE */
.features-table {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

/* LEFT */
.features-left {
  flex: 1;
}

.features-left ul {
  list-style: none;
  padding: 0;
}

.features-left li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.features-left li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #4a6cf7;
}

/* RIGHT TABLE */
.features-right {
  flex: 1.5;
}

.features-right table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 13px;
}

.features-right th {
  background: #d9deea;
  padding: 10px;
  text-align: left;
}

.features-right td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

/* BOTTOM SECTION */
.bottom-section {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.applications, .ordering {
  flex: 1;
}

.applications ul,
.ordering ul {
  list-style: none;
  padding: 0;
}

.applications li,
.ordering li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

/* Icons */
.applications li::before {
  content: "⚙";
  position: absolute;
  left: 0;
  color: #4a6cf7;
}

.ordering li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #4a6cf7;
}