
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "High Voltage Impulse Generator Service & Spares Support - Carona Power Electrical Test Systems",
  "author": "Carona Power Electrical Test Systems",
  "datePublished": "2026-02-21"
}
</script>

<!-- HERO SECTION -->
<section class="hero">
  <div class="hero-content">
    <h1 class="headtext">Carona Power</h1>
    <p>Pioneers in HV Impulse Test Support & Spares</p>

    <div class="hero-actions">
      <button class="btn-primary" routerLinkActive="true" routerLink="/contact">Get in Touch</button>
      <a href="/assets/brochures/CaronaPowerBroucher.pdf"
         download="CaronaPowerBroucher.pdf"
         class="btn-primary">
         Download Brochure
      </a>
    </div>
  </div>
</section>
<!-- ABOUT SECTION -->
<section class="about">
  <div class="about-text">
    <h2>About Carona Power</h2>

    <p>
      Carona Power Electrical Test Systems is an engineering firm based in Chikkaballapur, near Bangalore. We specialize in High Voltage Impulse Generator service, Repair,
      Refurbishment, and Spares Support.
    </p>
    <p>
      With deep industry experience in impulse voltage and current testing
      systems, Carona Power supports customers who depend on reliable operation
      of High Voltage Test Equipment for:</p>
      <ul>
        <li>Routine Testing</li>
        <li>Type Testing</li>
        <li>R&D Applications</li>
      </ul>
       <p>
      We are committed to supporting High-Voltage Laboratories and Industrial facilities in achieving safe, compliant, and reliable impulse testing operations. 
       </p>
  </div>
  <div class="about-image">

    <swiper-container
  navigation="true"
  pagination="true"
  autoplay-delay="3000">
  <swiper-slide *ngFor="let img of images">
    <img [src]="img.Src" [alt]="img.alt" />
  </swiper-slide>
</swiper-container>   
  </div>
</section>


<!-- CORE TECHNICAL FOCUS -->
<section class="focus">
  <h2>Core Technical Focus Areas</h2>
  <p class="subtitle">
    We provide professional service support to restore system performance and
    extend equipment life.
  </p>

  <div class="focus-grid">
    <div class="card">High Voltage Impulse Voltage Generators</div>
    <div class="card">High Voltage Impulse Current Generators</div>
    <div class="card">Wave-Shaping Resistor</div>
    <div class="card">Inductor Networks</div>
    <div class="card">Service & Refurbishment of Legacy Systems</div>
    <div class="card">Upgrade of Existing Impulse Test Equipment</div>
    <div class="card">HV Laboratory Planning & Consultation</div>
    <div class="card">PD Room Construction</div>
    <div class="card">Training Operators for Routine Testing</div>
  </div>
</section>



<!-- SERVICE SECTION -->
<!-- <section class="service">
  <h2>Impulse Generator Service & Repair</h2>
  <p>
    We are developing in-house manufacturing for critical impulse generator
    components designed for high voltage stress and repetitive operation.
  </p>
</section> -->

<!-- OUT Client-->
<Section>
  <div class="mat-card-header d-flex justify-content-center">
    <div class="text-call">OUR CLIENTS</div>
  </div>
 <div class="marquee">
  <div class="marquee-content">
  <div><img src="/assets/images/mahati.jfif" alt="Mahati logo" loading="lazy"></div>
  <div><img src="/assets/images/elektrolites.jfif" alt="Elektrolites logo" loading="lazy"></div>
  <div><img src="/assets/images/lamco.jfif" alt="Lamco logo" loading="lazy"></div>
  <div><img src="/assets/images/nec.jfif" alt="NEC logo" loading="lazy"></div>
  <div><img src="/assets/images/vet.jfif" alt="VET logo" loading="lazy"></div>
  <div><img src="/assets/images/raychem.jfif" alt="Raychem logo" loading="lazy"></div>  
  <div><img src="/assets/images/mahati.jfif" alt="Mahati logo" loading="lazy"></div>
  <div><img src="/assets/images/elektrolites.jfif" alt="Elektrolites logo" loading="lazy"></div>
  <div><img src="/assets/images/lamco.jfif" alt="Lamco logo" loading="lazy"></div>
  <div><img src="/assets/images/nec.jfif" alt="NEC logo" loading="lazy"></div>
  <div><img src="/assets/images/vet.jfif" alt="VET logo" loading="lazy"></div>
  <div><img src="/assets/images/raychem.jfif" alt="Raychem logo" loading="lazy"></div> 
</div>
</div>
<hr/>
</Section> 

<!-- <div  class="body">
  
  
<section class="ng-container hero-section">
  <div class="background-container">
<div class="text-call">
    <h1>Carona Power Electrical Test System</h1>
    <h3 class="align-items-center">High Voltage Impulse Generator Service & Spares Support</h3> 
  </div>
  </div>
  
   
</section>
<section class="ng-container about-section">
  <md-content flex layout-padding>
    <h2 class="hero-text-about"> {{ 'About Us' | capitalizeFirst }} </h2>
      
    <p class="overview-text">Carona Power Electrical Test Systems is a engineering firm specializing in
    <b>High Voltage Impulse Generator service, repair, refurbishment, and spares support.</b>
    With deep industry experience in <b>impulse voltage and current testing systems</b>, Carona
Power supports customers who depend on reliable operation of <b>high voltage test equipment</b>
for routine testing, type testing, and R&D applications.
   We at Carona Power Electrical Test Systems have <b>extensive hands-on experience in High
Voltage Test and Measurement Equipment</b>, gained through years of work with established
test system manufacturers.
  The company was formed to address a critical industry needs, especially for systems that are aging,
unsupported, or require expert intervention.</p>
 </md-content>
    <hr/>
    <div class="overview-text">
      <h2 class="hero-text-about">Core Technical Focus Areas</h2>
      <ul class="overview-text">
        <li>Servicing of High Voltage Impulse Voltage Generators</li>
        <li>Servicing of High Voltage Impulse Current Generators</li>
        <li>Design & Manufacturing of Wave-shaping Resistor, Inductor Networks</li>
        <li>Performance Verification of HV Source & Measurement System </li>
        <li>Service, Refurbishment of Legacy Systems</li>
        <li>Upgrade of Existing Impulse Test Equipment</li>
        <li>High Voltage Laboratory Grounding Techniques</li>
        <li>HV Laboratory Planning Consultation</li>
        <li>PD Room Construction</li>
        <li>Training Operators for Routine Testing</li>
        <li>Educating Customer for Best Practises</li>
        </ul>
        <p>Carona Power combines <b>field experience, practical troubleshooting skills, and engineering
insight</b> to deliver effective and reliable solutions.</p>
    </div>
</section>

<section >
  <div class="mat-card-header d-flex justify-content-center">
    <div class="text-call">Our Product Highlights</div>
  </div>
  <div class="highlights-section container my-4">  
  
  <div class="row g-4">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let product of products">
      
      <div class="highlight-card border border-dark">
        <div class="highlight-img-wrapper">
          <div class="caption">{{ product.name }}</div>
          <img [src]="product.image" [alt]="product.name" class="img-fluid" />
          
        </div>
      </div>
     
    </div>
  </div>
  </div>
</section>

<section >
  <div class="mat-card-header d-flex justify-content-center">
    <div class="text-call">Our Service Highlights</div>
  </div>
  <div class="highlights-section container my-4">  
  
  <div class="row g-4">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let product of serivces">
      
      <div class="highlight-card border border-dark">
        <div class="highlight-img-wrapper">
          <div class="caption">{{ product.name }}</div>
          <img [src]="product.image" [alt]="product.name" class="img-fluid" />
          
        </div>
      </div>
     
    </div>
  </div>
  </div>
</section>
  <Section>
  <div class="mat-card-header d-flex justify-content-center">
    <div class="text-call">OUR CLIENTS</div>
  </div>
 <div class="marquee">
  <div class="marquee-content">
  <div><img src="/assets/images/cl1.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl2.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl4.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl5.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl6.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl3.jpeg" alt="Client logo" loading="lazy"></div>  
  <div><img src="/assets/images/cl1.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl2.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl4.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl5.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl6.jfif" alt="Client logo" loading="lazy"></div>
  <div><img src="/assets/images/cl3.jpeg" alt="Client logo" loading="lazy"></div> 
</div>
</div>
<hr/>
</Section> 
</div> -->


<!-- <div class="container-load">
  <hr/>
<swiper-container
    [attr.slides-per-view]="1"
    [attr.loop]="true"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    >

    <swiper-slide *ngFor="let img of images">
      
      <div class="text-call">
      <span >
     <img [src]="img" style="width:100%;height:450px;object-fit:cover">
     </span>
    </div>     
  </swiper-slide>
</swiper-container>

</div> -->
  <!--<div  class="body" tabindex="1">
<swiper-container
    [attr.slides-per-view]="1"
    [attr.loop]="true"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    >

    <swiper-slide *ngFor="let img of images">
      
      <div>
   Content for the left side 
     <img [src]="img.Src" style="width:100%;height:450px;object-fit:cover">
        
  </div>
  <div *ngIf="img.ID == 1" class="right-div">
      <h1>Impulse Resistor High Voltage impulse resistor</h1>
      
      <hr/>
      <p>
        <b>High Voltage Impulse Resistor </b>
        <br/>
        Carona Power is engaged in manufacturing and supply of  the high voltage impulse resistor.
A High Voltage Impulse Resistor is a specialized resistor designed shape the impulse wave and accurately measure the same. 
      </p>
  </div>
  <div *ngIf="img.ID == 2" class="right-div">
     <h1>Impulse Inductors</h1>
     <hr/>
   </div> 

      
    </swiper-slide>

  </swiper-container>
  </div>-->